html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font: 400 22px/1.38 Georgia;
  color: rgba(0,0,0,.8);
}

.big {
	font-size: 25px;
}

header { height: 100% !important; }

a {
	color: green;
	opacity: 1;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}
a:hover {
	opacity: .7;
}

p {
  margin-bottom: 1em;
}

em {
	background-color: #FEFDC8;
	color: #99A312;
  font-style: italic;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #EEE;
	width: 80%;
}

.fa-ul {
	margin-bottom: 1.5em;
	margin-left: 25px;
}
.fa-ul li {
	margin-bottom: 1em;
}
.fa-li {
	font-size: .5em;
	padding-right: 15px;
	top: 9px;
}

.android {
  display: inline-block;
  float: left;
  margin-top: 1px;
  font: 400 4.2em/1.38 FontAwesome;
  color: rgb(255, 255, 255);
}
.android:hover {
	color: #99CC00;
  text-shadow: 0 1px 12px #99CC00;
}

.button {
	
}
.button:hover {
	text-decoration: none;
}

.container {
  width: 700px;
}

.container .section-title {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
}

.fa-star {
	font-size: .5em;
	vertical-align: 25%;
}
.fa-star:hover {
	color: #EABF58;
}
.fa-link, .grey {
	color: #999;
}

.description-1 p:first-child {
	margin-bottom: .5em;
}

section#resources, section#article {
	margin-bottom: 250px;
}

.cta {
  width: 100%;
  margin: 0 auto;
  font: 3.28em/1.38 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #333333;
}

.cta-description {
  width: 100%;
  margin: 0 auto;
  line-height: 1.38;
  text-align: center;
  background-color: #f5f5f5;
  color: #333333;
  padding: 80px 0 0;
}
.cta-description span {
	font-size: 1.4em;
}

.description {
  width: 100%;
  margin: 50px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #333333;
}

#footer-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
}

/*
.image {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  margin-top: 33px;
  overflow: hidden;
}*/

#inside_app,
#inside_app_store,
#inside_website {
  width: 700px;
  min-height: 500px;
  margin: 50px auto 0;
  padding-bottom: 5px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 1px;
  background-color: #ffffff;
}

#inside_app .section-title,
#inside_app_store .section-title,
#inside_website .section-title {
  margin: 50px auto 0;
}

.ios {
  display: inline-block;
  float: left;
  margin: 1px 0 0 7.1428571428%;
  font: 400 4.2em/1.38 FontAwesome;
  color: rgb(255, 255, 255);
}
.ios:hover {
  color: #ddd;
  text-shadow: 0 1px 12px #ddd;
}

.learn-cta {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 32;
  width: 80%;
  min-width: 700px;
  height: 48px;
  margin: 0 auto;
}

.learn-cta ._text {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-width: 1px 1px 3px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 1px;
  font: normal 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}
.learn-cta ._text:hover {
	background-color: #fff;
	color: rgb(0, 0, 0);
}

#main {
  float: left;
  clear: both;
  width: 100%;
  background-color: #ffffff;
}

#main .container {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-cta {
  float: left;
  clear: both;
  width: 100%;
  height: 147px;
  margin-top: 25px;
}

.mantra {
  width: 81px;
  min-width: 500px;
  max-width: 500px;
  margin: 13px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}
.mantra a {
	color: #fff;
}
.mantra a:hover {
	opacity: 1;
	text-decoration: none;
}

.oses {
  width: 308px;
  min-width: 308px;
  height: 146px;
  margin: 0 auto;
}
.oses a {
	color: #fff;
	opacity: 1;
}

#resources {
  float: left;
  clear: both;
  width: 100%;
  min-height: 750px;
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffff;
}

#resources .container {
  min-height: 500px;
  margin: 0 auto;
}

#resources .section-title {
  float: left;
  margin-left: 14.2857142857%;
}

.section-title {
  color: #000000;
  line-height: 1.38;
  text-align: center;
  margin-bottom: 1em;
}

#trias {
  float: left;
  clear: both;
  width: 100%;
  min-height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f5f5;
}

#trias > div {
	padding: 0 50px 17px 50px;
}
#trias > div:first-child {
	margin-top: 0;
}
#trias img {
	border: 1px solid rgba(0,0,0,.3);
}

.toggle, .link {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
  color: #FFF;
  text-align: center;
  margin: 0 auto 33px;
  padding: 10px 0;
  letter-spacing: 0.01rem;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  outline: 0;
  display: block;
  width: 100%;
  font-weight: normal;
}

.collapse {
	overflow: hidden;
}

.collapsing {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.toggle:hover, .link:hover {
	opacity: .7;
	text-decoration: none;
	color: #fff;
}
.toggle:after {
    /* symbol for "opening" panels */
    color: #fff;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: normal;
    float: left;
    margin-left: 10px;
}
.toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f00e";
}

.trias-explanation {
  float: left;
  width: 100%;
  height: auto;
}

.trias-explanation .section-title {
  margin: 0 auto;
}

.wphone {
  display: inline-block;
  float: left;
  margin: 1px 0 0 22px;
  font: 400 4.2em/1.38 FontAwesome;
  color: rgb(255, 255, 255);
}
.wphone:hover {
	color: #890e8d;
  text-shadow: -0 1px 12px #890e8d;
}

._element {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center center;
}

.container ._text {
  display: inline-block;
  float: left;
  width: 100%;
  padding-left: 20px;
  font-size: 0.88em;
}

.important_text {
	margin: 33px auto;
	padding: 20px;
	border-left: 3px solid #EEE;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.important_text h4 {
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 5px;
}
.important_text a {
	color: #999;
}

#inside_app .important_text {
  background-color: #FDF7F7;
  border-color: #ca3c30;
  color: rgb(0,0,0);
}
#inside_app .important_text h4 {
	color: #ca3c30;
}

#inside_app_store .important_text {
  background-color: #FDF7F7;
  border-color: #e36237;
  color: rgb(0,0,0);
}
#inside_app_store .important_text h4 {
	color: #e36237;
}

#inside_website .important_text {
  background-color: #FCF8F2;
  border-color: #eabf58;
  color: rgb(0, 0, 0);
}
#inside_website .important_text h4 {
	color: #eabf58;
}

#resources ._container {
  float: left;
  clear: both;
  width: 80%;
  margin: 33px 0 0 12.4285714285%;
}

.trias-explanation ._container {
  width: 100%;
  min-height: 200px;
  margin: 50px auto 0;
}

.container-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 38;
  height: 698px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

._container-1 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 698px;
  background: url('../images/bg.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.trias-explanation ._element-1 {
  float: left;
  background-image: url('../images/app.png');
}
.trias-explanation ._element-1:hover {
	opacity: .75;
}

.red {
	/*color: #CA3C30;*/
	font-weight: bold;
}

.trias-explanation ._element-2 {
  float: left;
  margin-left: 7.1428571428%;
  background-image: url('../images/store.png');
}
.trias-explanation ._element-2:hover {
	opacity: .75;
}

.orange {
	/*color: #E36237;*/
	font-weight: bold;
}

.trias-explanation ._element-3 {
  float: right;
  background-image: url('../images/web.png');
}
.trias-explanation ._element-3:hover {
	opacity: .75;
}

.yellow {
	/*color: #EABF58;*/
	font-weight: bold;
}

/* Guides */

#article {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-height: 750px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(213, 213, 213);
  background-color: #ffffff;
}

#article .container {
  min-height: 750px;
  margin: 0 auto;
}

.container {
  width: 700px;
}

.cta {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-width: 1px 1px 3px;
  border-color: #ea4c89;
  border-style: solid;
  border-radius: 1px;
  font: normal 1.136em/1.38 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ea4c89;
}
.cta:hover {
	color: #fff;
	background-color: #ea4c89;
}

.goal, .pagination {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 33px;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.pagination span {
	display: none;
}
.pagination a {
	width: 44px;
	height: 44px;
}
.pagination a i {
	background-color: rgba(0,0,0,.3);
  color: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: inline-block;
	font-size: 44px;
	width: 44px;
	height: 44px;
}

.tooltip {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

#footer-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
}

.guide {
  width: 100%;
  margin: 0 auto;
  font-size: 1.4em;
  line-height: 102px;
  text-align: center;
  color: #ffffff;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 150px;
  background: url('../images/bg.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.header .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
.image {
  display: block;
  float: left;
  clear: both;
  height: auto;
  margin-top: 33px;
  overflow: hidden;
}*/

.iubenda-cta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 80%;
  min-width: 700px;
  height: 48px;
  margin: auto;
}

.subtitle {
  float: left;
  margin-bottom: 1em;
  width: 100%;
  font: 700 1.591em/1.38 skolar;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.text {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 33px;
  font-size: 1em;
  text-indent: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.text p {
  margin-bottom: 1.364em;
}

p.info {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: 0;
	font: 16px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

._image {
  width: 100%;
}

.image-2 {
  width: 900px;
  margin-left: -100px;
}

#footer-cta {
	 z-index: -1;
}

@media(max-width: 900px) {
  .container .explanation {
    width: 75%;
    margin-left: 11.8571428571%;
  }

  .container .image {
    height: auto;
  }

  #footer-cta .iubenda-cta,
  .header .container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .container .image-2 {
    clear: none;
    width: 100%;
    margin-left: 0;
  }
}