body {
  background-color: rgb(255, 255, 255);
  font: 400 1.375em/1.5 Georgia;
  color: rgba(0, 0, 0, 0.8);
}

.article {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-height: 750px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(213, 213, 213);
  background-color: #ffffff;
}

.article .container {
  min-height: 750px;
  margin: 0 auto;
}

.back_to_main {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 78px;
  padding: 10px;
  border-width: 1px 1px 3px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  font: 1.136em/1.38 Helvetica;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 700px;
}

.cta {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-width: 1px 1px 3px;
  border-color: #ea4c89;
  border-style: solid;
  border-radius: 1px;
  font: normal 1.136em/1.38 FontAwesome;
  text-align: center;
  color: #ea4c89;
}

.explanation {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 33px;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.footer-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
}

.guide {
  width: 100%;
  margin: 30px auto 0;
  font-size: 1.591em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 150px;
  background: url('../images/bg.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.header .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  display: block;
  float: left;
  clear: both;
  height: auto;
  margin-top: 33px;
  overflow: hidden;
}

.iubenda-cta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 80%;
  min-width: 700px;
  height: 48px;
  margin: auto;
}

.subtitle {
  float: left;
  width: 100%;
  font: 700 1.591em/1.38 skolar;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.text {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 33px;
  font-size: 1em;
  text-indent: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.text p {
  margin-bottom: 1.364em;
}

._image {
  width: 100%;
}

.image-2 {
  width: 900px;
  margin-left: -100px;
}

@media(max-width: 900px) {
  .container .explanation {
    width: 75%;
    margin-left: 11.8571428571%;
  }

  .container .image {
    height: auto;
  }

  .footer-cta .iubenda-cta,
  .header .container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .container .image-2 {
    clear: none;
    width: 100%;
    margin-left: 0;
  }
}